
<nav class="navbar">
    <div class="navbar-inner">
        <a class="brand" href="#">Interface Builder</a>
        <ul class="nav">
            <li>  <a href="" data-widget-builder text="Novo widget"></a></li>
            <li><a href="" data-ng-click="printWidgets()"> Show widgets</a></li>
        </ul>
    </div>
</nav>

<div class="area cointainer-fluid" id="mainArea">
    <div class="row-fluid widget-row-fluid">
        <ul class="span1 grid columnSortable" id="grid1">
        </ul>
        <ul class="span2 grid columnSortable" id="grid2">
        </ul>
        <ul class="span6 grid columnSortable" id="grid3">
        </ul>
        <ul class="span2 grid columnSortable" id="grid4">
        </ul>
        <ul class="span1 grid columnSortable" id="grid5">
        </ul>
    </div>
</div>

